/* Add your font via Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* Add your font via Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* CSS Reset. You don't need to understand these.
 * They're only here to make CSS consistent across all browsers. */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

/* Define your color scheme here, taken from Fullyhacks color scheme. */
:root {
  --body_bg: #661b60;
  --sky_100: #abe1ff;
  --sky_300: #18aaff;
  --blue_300: #385ddf;
  --purple_300: #9ea8ff;
  --purple_hover: #3b3561;
  --purple_500: #4f38df;
  --pink_700: #b438df;
  --pink_400: #ff8f8f;
  --pink_300: #df389c;
  --pink_100: #ffabce;
  --orange_300: #ffc985;
  --orange_100: #ffedcc;
  --purple_main: #340b67;
  --purple_main_hover: #b49fcc;
}

html {
  background: radial-gradient(circle, #85217c,#201646);
  font-family: "Bruno Ace SC", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.taskClass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(98, 114, 112);
}

#blank-color{
  width: 100%; height: 10px;
  border-style: solid;
  border-color: #1b1623;
  background-color: #1b1623;
}

#blank-color-2{
  width: 100%; height: 20px;
  border-style: solid;
  border-color: #1b1623;
  background-color: #1b1623;
}

#title {
  text-align: center;
  color: #ffb0e9;
}

#description {
  text-align: center;
  color: white;
}

.spacepic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: auto;
  display: block;
  margin-left: -30px;
  margin-bottom: -30px;
  margin-top:-30px;
}

.todoTask {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color:rgb(107, 255, 211);
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(20, 47, 39), rgb(29, 69, 57), rgb(20, 47, 39));
}

.completed {
  text-decoration: line-through;
  color: rgb(17, 32, 27);
}