/* Add your font via Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* Add your font via Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* CSS Reset. You don't need to understand these.
 * They're only here to make CSS consistent across all browsers. */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

html {
  background: radial-gradient(circle, #85217c,#201646);
  font-family: "Bruno Ace SC", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*the task addition bar*/
.taskClass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(98, 114, 112);
}

/*top window frame*/
#blank-color{
  width: 100%; height: 10px;
  border-style: solid;
  border-color: #1b1623;
  background-color: #1b1623;
}

/*bottom window frame*/
#blank-color-2{
  width: 100%; height: 20px;
  border-style: solid;
  border-color: #1b1623;
  background-color: #1b1623;
}

#title {
  text-align: center;
  color: #ffb0e9;
}

#description {
  text-align: center;
  color: white;
}

/*path image for ship to travel*/
.spacepic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: auto;
  display: block;
  margin-bottom: -30px;
  margin-top:-30px;
}

.ship {
  position:absolute;
  top:250px; /* Adjust - up or down*/
  left:5%; /* adjust - left right*/
  width: 25px;
  z-index:2;
  transform: translate3d(0,0,0);
  rotate: 50deg;
  transition: left 1s ease, top 1s ease, transform 1s ease;
}

.tuffy {
  position:absolute;
  opacity: .5;
  top:50px; /* Adjust - up(decrease) or down(increase)*/
  left:5%; /* adjust - left(decrease) right(increase)*/
  z-index:2;
  transform: translate3d(0,0,0);
  transition: all 1s ease;
  animation: floating 10s infinite;
}

.star1 {
  position:absolute;
  opacity: .5;
  top:30px; /* Adjust - up(decrease) or down(increase)*/
  left:1220px; /* adjust - left(decrease) right(increase)*/
  z-index:2;
  transition: all .5s ease;
}

.star2 {
  position:absolute;
  opacity: .25;
  top:400px; /* Adjust - up(decrease) or down(increase)*/
  left:80%; /* adjust - left(decrease) right(increase)*/
  z-index:2;
  transition: all 1s ease;
}

.star1:hover {
  transform: rotate(100deg);
}

.star2:hover {
  transform: rotate(-100deg);
}

.ship:hover {
  animation: idle 0.5s infinite;
}

/*the task screen*/
.todoTask {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color:rgb(107, 255, 211);
  text-shadow: 0 0 30px rgba(226, 255, 246, 0.858);
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(20, 47, 39), rgb(29, 69, 57), rgb(20, 47, 39));
}

/*when a task has been completed*/
.completed {
  text-decoration: line-through;
  color: rgb(17, 32, 27);
  text-shadow: 0 0 50px rgba(226, 255, 246, 0.13);
}

/*for when no tasks have been added*/
#blank-color-3{
  width: 100%; height: 150px;
  border-style: solid;
  background: linear-gradient(to bottom, rgb(20, 47, 39), rgb(29, 69, 57), rgb(20, 47, 39));
}

/*button affect*/
#add-task:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgb(107, 255, 211);
}

/*bounce animation*/
@keyframes idle {
  0%, 100% {
    transform: translateY(0px)
  }
  25%{
    transform: translate3d(2px,0px,0px)
  }
  50%{
    transform: translate3d(4px,5px,0px)
  }
  75%{
    transform: translate3d(2px,0px,0px)
  }
}

/*floating animation*/
@keyframes floating {
  0%, 100% {
    transform: translateY(0px)
    rotate(0deg)
  }
  25%{
    transform: translate3d(2px,10px,0px)
    rotate(15deg)
  }
  50%{
    transform: translate3d(5px,15px,0px)
    rotate(50deg)
  }
  75%{
    transform: translate3d(2px,10px,0px)
    rotate(25deg)
  }
}